.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  padding: 0 0.6rem;
  border-bottom: 1px solid var(--mantine-color-dark-4);

  .leftSection {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .clearButton {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    border-radius: var(--mantine-radius-md);

    * {
      color: var(--mantine-color-dark-2);
    }

    &:hover * {
      color: var(--mantine-color-dark-1);
    }
  }
}
