.sidePanel {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;

  .titleContainer {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    border-bottom: 1px solid var(--mantine-color-dark-4);

    .logo {
      position: absolute;
      left: 1.25rem;
      bottom: 0;
      color: var(--mantine-color-dark-3);
    }

    .title {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: var(--mantine-color-dark-1);
      padding: 0.4rem 0.6rem;
      margin: 0;
      border-radius: var(--mantine-radius-md);
    }
  }

  .settingsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}

html[data-mantine-color-scheme="light"] {
  .titleContainer {
    border-bottom: 1px solid var(--mantine-color-gray-4);

    .logo {
      color: var(--mantine-color-dark-2);
    }

    .title {
      color: var(--mantine-color-dark-2);
    }
  }
}
