.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.6rem;
  border-bottom: 1px solid var(--mantine-color-dark-4);

  & .leftSection {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    & .siteTitle {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: var(--mantine-color-dark-1);
      padding: 0.4rem 0.6rem;
      margin: 0;
      border-radius: var(--mantine-radius-md);
    }

    & .separator {
      position: relative;
      top: -0.1rem;
      font-size: 1.5rem;
      line-height: 0;
      font-weight: 700;
      color: var(--mantine-color-dark-3);
      margin: 0;
    }
  }

  & .clearButton {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    border-radius: var(--mantine-radius-md);

    & * {
      color: var(--mantine-color-dark-2);
    }

    &:hover * {
      color: var(--mantine-color-dark-1);
    }
  }
}
