:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-sm);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--mantine-color-dark-5);
}
