.messagesWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
  height: 0;
  margin: 0 0.6rem;
  padding: 0.5rem 1rem;
  overflow-y: scroll;

  .messagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
  }
}
